<ion-content>
  <div class="signin-outer">
     <div class="inner-sign">
        <div class="container">
           <div class="row blue-bg mb-3">
              <div class="col-md-5 col-sm-5 d-flex py-1" *ngIf="currentLocation && currentLocation!=''">
                 <div><img src="assets/img/map-marker.png" alt="" width="30px"></div>
                 <div><span>Your Location</span>
                    <p class="location-address">{{currentLocation}}</p>
                 </div>
              </div>
              <div class="col-md-7 col-sm-7">

              </div>
           </div>
      
           <div class="row align-items-center issues-outer" *ngIf="symptomData && symptomData?.length">
              <div class="col-md-12 col-12">
                 <h3 class="mb-1 mt-0">Common Symptoms</h3>
              </div>
              <div class="col-md-3 col-3 left-sd px-1 text-center" *ngFor="let sym of symptomData" (click)="view(sym,'1')" >
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">{{sym.name}}</p>
                 </div>
              </div>
              <!-- <div class="col-md-3 col-3 right-sd px-1 text-center" (click)="view()">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Fever</p>
                 </div>
              </div>

              <div class="col-md-3 col-3 left-sd px-1 text-center" (click)="view()">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Peroid issues</p>
                 </div>

              </div>
              <div class="col-md-3 col-3 right-sd px-1 text-center" (click)="view()">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Hair Fall</p>
                 </div>
              </div>

              <div class="col-md-3 col-3 left-sd px-1 text-center" (click)="view()">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Depression</p>
                 </div>

              </div>
              <div class="col-md-3 col-3 right-sd px-1 text-center" (click)="view()">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Anxiety</p>
                 </div>
              </div>

              <div class="col-md-3 col-3 left-sd px-1 text-center">
                 <div class="box-cir">
                    <img src="assets/img/fever.png" alt="">
                    <p class="mb-0 ">Back Pain</p>
                 </div>

              </div> -->
              <div class="col-md-3 col-3 right-sd px-1 text-center">
                 <div class="box-cir">
                    <p class="mb-0 " style="color: #09abf4; font-size:13px;" (click)="viewmore()">View More</p>
                 </div>
              </div>

           </div>
           <div class="row align-items-center issues-outer" *ngIf="specialistData && specialistData?.length"  >
              <div class="col-md-12 col-12">
                 <h3 class="mb-1 mt-0">Top Specialist</h3>
              </div>
              <div class="col-md-4 col-4 left-sd text-center px-0" *ngFor="let specialist of specialistData" (click)="view(specialist,'2')">
                 <div class="box-rect">
                    <img src="assets/img/depression1.png" alt="">
                    <p class="mb-0 ">{{specialist.name}}</p>
                 </div>
              </div>
              <!-- <div class="col-md-4 col-4 right-sd text-center px-0">
                 <div class="box-rect">
                    <img src="assets/img/headache.png" alt="">
                    <p class="mb-0 ">Headache</p>
                 </div>
              </div>
              <div class="col-md-4 col-4 left-sd text-center px-0">
                 <div class="box-rect">
                    <img src="assets/img/pregnancy.png" alt="">
                    <p class="mb-0 ">Pregnancy</p>
                 </div>
              </div>
              <div class="col-md-4 col-4 right-sd text-center px-0">
                 <div class="box-rect">
                    <img src="assets/img/stomache.png" alt="">
                    <p class="mb-0 ">Stomache</p>
                 </div>
              </div>
              <div class="col-md-4 col-4 left-sd text-center px-0">
                <div class="box-rect">
                   <img src="assets/img/coronoa.png" alt="">
                   <p class="mb-0 ">Corona</p>
                </div>
             </div>
             <div class="col-md-4 col-4 right-sd text-center px-0">
                <div class="box-rect">
                   <img src="assets/img/mental-illness.png" alt="">
                   <p class="mb-0 ">Mental Illness</p>
                </div>
             </div>
             <div class="col-md-4 col-4 left-sd text-center px-0">
              <div class="box-rect">
                 <img src="assets/img/depression1.png" alt="">
                 <p class="mb-0 ">Depression</p>
              </div>
           </div>
           <div class="col-md-4 col-4 right-sd text-center px-0">
              <div class="box-rect">
                 <img src="assets/img/headache.png" alt="">
                 <p class="mb-0 ">Headache</p>
              </div>
           </div>
           <div class="col-md-4 col-4 left-sd text-center px-0">
              <div class="box-rect">
                 <img src="assets/img/pregnancy.png" alt="">
                 <p class="mb-0 ">Pregnancy</p>
              </div>
           </div> -->

           </div>
           <div class="row align-items-center issues-outer" *ngIf="organData && organData?.length">
            <div class="col-md-12 col-12">
               <h3 class="mb-1 mt-0">Organ Health</h3>
            </div>
            <div class="col-md-4 col-4 left-sd text-center px-0" *ngFor="let org of organData" (click)="view(org,'3')">
               <div class="box-rect">
                  <img src="assets/img/ear-nose.png" alt="">
                  <p class="mb-0 ">{{org.name}}</p>
               </div>
            </div>
            <!-- <div class="col-md-4 col-4 right-sd text-center px-0">
               <div class="box-rect">
                  <img src="assets/img/eye.png" alt="">
                  <p class="mb-0 ">Eye</p>
               </div>
            </div>
            <div class="col-md-4 col-4 left-sd text-center px-0">
               <div class="box-rect">
                  <img src="assets/img/teeth.png" alt="">
                  <p class="mb-0 ">Teeth</p>
               </div>
            </div>
            <div class="col-md-4 col-4 right-sd text-center px-0">
               <div class="box-rect">
                  <img src="assets/img/bones-and-joint.png" alt="">
                  <p class="mb-0 ">Bones, Joints & Muscles</p>
               </div>
            </div>
            <div class="col-md-4 col-4 left-sd text-center px-0">
              <div class="box-rect">
                 <img src="assets/img/stomache-and-live.png" alt="">
                 <p class="mb-0 ">Stomach, liver &
                  Digestive</p>
              </div>
           </div>
           <div class="col-md-4 col-4 right-sd text-center px-0">
              <div class="box-rect">
                 <img src="assets/img/mental-illness.png" alt="">
                 <p class="mb-0 ">Kidney & Urinary Tract</p>
              </div>
           </div> -->
         </div>
         <div class="row align-items-center issues-outer" *ngIf="chronicData && chronicData?.length">
          <div class="col-md-12 col-12">
             <h3 class="mb-1">Chronic & Long Term Care</h3>
          </div>
          <div class="col-md-4 col-4 left-sd text-center px-0" *ngFor="let chronicdata of chronicData" (click)="view(chronicdata,'4')">
             <div class="box-rect">
                <img src="assets/img/daibete.png" alt="">
                <p class="mb-0 ">{{chronicdata.name}}</p>
             </div>
          </div>
          <!-- <div class="col-md-4 col-4 right-sd text-center px-0">
             <div class="box-rect">
                <img src="assets/img/mental-ilnnes.png" alt="">
                <p class="mb-0 ">Eye</p>
             </div>
          </div>
          <div class="col-md-4 col-4 left-sd text-center px-0">
             <div class="box-rect">
                <img src="assets/img/neurologist.png" alt="">
                <p class="mb-0 ">Teeth</p>
             </div>
          </div>
          <div class="col-md-4 col-4 right-sd text-center px-0">
             <div class="box-rect">
                <img src="assets/img/bones-and-joint.png" alt="">
                <p class="mb-0 ">Bones, Joints & Muscles</p>
             </div>
          </div>
          <div class="col-md-4 col-4 left-sd text-center px-0">
            <div class="box-rect">
               <img src="assets/img/stomache-and-live.png" alt="">
               <p class="mb-0 ">Stomach, liver &
                Digestive</p>
            </div>
         </div>
         <div class="col-md-4 col-4 right-sd text-center px-0">
            <div class="box-rect">
               <img src="assets/img/mental-illness.png" alt="">
               <p class="mb-0 ">Kidney & Urinary Tract</p>
            </div>
         </div> -->
       </div>
        </div>
     </div>
  </div>
</ion-content>

