
<ion-content class="time-slot">
  <div class="banner-outer">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Select</h1>
      <p>Time Slot</p>
    </div>
  </div>
  </div>
  </div>
  <div class="row slots">
    <div class="col-4 inr">
      <div class="box">
          <h2>10:30 am</h2>
          <p>12th May</p>
      </div>
    </div>
    <div class="col-4 inr">
      <div class="box">
        <h2>01:30 pm</h2>
        <p>12th May</p>
    </div>
    </div>
    <div class="col-4 inr">
      <div class="box">
        <h2>04:30 pm</h2>
        <p>12th May</p>
    </div>
    </div>
    <div class="col-4 inr">
      <div class="box">
        <h2>11:30 am</h2>
        <p>16th May</p>
    </div>
    </div>
    <div class="col-4 inr">
      <div class="box">
        <h2>12:30 pm</h2>
        <p>18th June</p>
    </div>
    </div>
    <div class="col-4 inr">
      <div class="box">
        <h2>05:30 pm</h2>
        <p>29th August</p>
    </div>
    </div>
</div>
<form>
<!---------------->
<div class="row">
  <div class="col-12">
    <div class="form-group px-3">
      <label >Book Your Appointment</label>
      <ion-datetime
      displayFormat="YYYY-MM-DD"
      pickerFormat="YYYY-MM-DD"
      formControlName="appointment_date"
      min="{{today}}"
     placeholder="Select Date"
    ></ion-datetime>
      <!-- <input type="date" name="bday" max="3000-12-31" 
             min="1000-01-01" class="form-control"> -->
     </div>
  </div>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="bookslot()" >Book Slot</ion-button>
  </div>
</form>
</ion-content>
