<ion-content>
   <div class="signin-outer">
      <div class="inner-sign">
         <div class="container">
            <div class="row blue-bg mb-3">
               <div class="col-md-5 col-sm-5 d-flex py-1">
                  <div><img src="assets/img/map-marker.png" alt="" width="30px"></div>
                  <div><span>Your Location</span>
                     <p>11 Phase, Mohali</p>
                  </div>
               </div>
               <div class="col-md-7 col-sm-7">

               </div>
            </div>
            <div class="row">
               <div class="col-sm-12 col-12">
                  <form>
                     <div class="form-group text-left">
                        <label>Who is the Patient?</label>
                        <div class="d-flex justify-content-between align-items-center inbox">
                           <select id="name">
                              <option>Deepak Singh</option>
                              <option>Deepak Singh</option>
                           </select>
                        </div>
                     </div>
                  </form>

                  <form class="search">
                     <label>Search or Choose your health issues</label>
                     <input type="text" placeholder="Search Doctor" name="search">
                     <div class="search-icn"><i class="fa fa-search"></i></div>
                  </form>
               </div>
            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Most Selected Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Fever</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Acne</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Runny<br>
                        Nose</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Cough</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Headache</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Hairfall</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Vomiting/<br>
                        Nausea</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Dry Skin</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Obesity</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Abdominal<br> Pain</p>
                  </div>
               </div>
            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Common Health Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Fever</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Blocked<br> Nose</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Cough</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Headache</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Loose<br> Motion</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">High <br>Cholestrol</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Migrane</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Back Pain</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Reddish Skin</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Low BP</p>
                  </div>
               </div>
            </div>

            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Skin & Hair issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Pimples/Acne</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Reddish<br> Skin</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Rashes</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Spots on Skin</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Itching</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Dark Circles</p>
                  </div>
               </div>

            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Bone & Joint Problems</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Back Pain</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Neck Pain</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Lower<br>
                        backpain</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Elbow pain</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Joint pains</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Sprain</p>
                  </div>
               </div>

            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Cancer Related Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Brain Tumor</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Head and <br>Neck Tumors</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Lung Cancer</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Gastrointestinal</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Blood<br> Cancer</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Skin Cancer</p>
                  </div>
               </div>
            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Urinary Tract Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Prostate</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Urinary Stream Issues</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Urinary Bladder
                        Problems</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Frequent Urinary Tract Infections</p>
                  </div>
               </div>

               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Kidney and Ureteric Stones</p>
                  </div>

               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Others</p>
                  </div>
               </div>

            </div>
            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Lung Related Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Chronic Cough</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Sleep Apnea</p>
                  </div>
               </div>
            </div>

            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Fertility Related Problems</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">IVF related query</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">IUI related pain</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Others</p>
                  </div>
               </div>
            </div>

            <div class="row align-items-center issues-outer">
               <div class="col-md-12 col-12">
                  <h3 class="mb-1">Surgery Related Issues</h3>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Hernia</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Testicular Pain</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 left-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Varicose Veins</p>
                  </div>
               </div>
               <div class="col-md-6 col-6 right-sd">
                  <div class="box-cir d-flex align-items-center">
                     <img src="assets/img/fever.png" alt="">
                     <p class="mb-0 pl-2">Ulcer</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</ion-content>
