<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
         <div class="img">
          <img  src="../../assets/img/DoctorApplogo.png" alt="">
        </div>
        <h1 class="mb-0">OTP</h1>
        <p class="title">Enter Valid OTP</p><br/>
        <div class="row mt-5 main-tp">
          <div class="col-12"><br/>
            <form [formGroup]="otp">
              <input class="active" type="tel" formControlName="one" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
              <input class="active" type="tel" formControlName="two" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/> 
              <input type="tel" maxLength="1" formControlName="three" size="1" min="0" max="9" pattern="[0-9]{1}"/>
              <input type="tel" maxLength="1" formControlName="four" size="1" min="0" max="9" pattern="[0-9]{1}"/>
              <br/>
              <br/>
              <br/>
              <br/>
              <div class="text-right"><button type="submit" (click)="profile()" class="form-control text-center signup-btn btn btn-default btn-lg"
                >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div><br/><br/>          
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
