<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="img">
          <img  src="../../assets/img/DoctorApplogo.png" alt="">
        </div>
        <div class="row mt-5 main-tp pt-2">
          <div class="col-12">
            <form [formGroup]="profileForm">
              <div class="form-group text-left">
                <label>Email Address</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="email" class="form-control" formControlName="email" placeholder="Enter email address" id="loc">
                </div>
              </div>
              <p  *ngIf="!profileForm.controls.email.valid && formStatus" class="ion-text-left error" >
                Enter email
              </p>
              <div class="form-group text-left" >
                <label>Gender</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <ion-select id="gender1" class="ion-no-padding" formControlName="gender" interface="action-sheet" placeholder ="Select gender">
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="male">Male</ion-select-option>
                  </ion-select>
                </div>               
              </div>
              <p  *ngIf="!profileForm.controls.gender.valid && formStatus" class="ion-text-left error" >
                Select valid gender
              </p>
              <div class="form-group text-left" style="border: none;">
                <label>Location</label>
                <div class="d-flex justify-content-between align-items-center inbox" >
                  <ion-searchbar
                  lines="none"
                  style="border: none !important;"
                  class="form-control ion-no-padding"
                  placeholder="Location"
                  formControlName="location"
                  [showCancelButton]="false"
                  (ionInput)="updateSearch()"
                  (ionCancel)="dismiss()"
debounce="500"                >
                </ion-searchbar>
                  <!-- <input type="text" class="form-control" formControlName="location" placeholder="Enter location" id="loc"> -->
                </div>
                
              </div>
              <p  *ngIf="!profileForm.controls.location.valid && formStatus" class="ion-text-left error" >
                Enter valid location
              </p>
              <div *ngIf="autocompleteItems.length>0" class="search-content">
                <ion-label class="label-select">Select Address</ion-label>
                <ion-item
                  *ngFor="let item of autocompleteItems"
                  tappable
                  (click)="chooseItem(item)"
                >
                  {{ item }}
                </ion-item>
              </div>
              <div class="form-group text-left">
                <label>City</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" formControlName="city" placeholder="City" id="city">                 
                </div>
              </div>
              <p  *ngIf="!profileForm.controls.city.valid && formStatus" class="ion-text-left error" >
                Enter valid city
              </p>
              <div class="form-group text-left">
                <label>Pin Code</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" formControlName="pincode" placeholder="Pincode" id="pin"> 
                </div>
              </div>
              <p  *ngIf="!profileForm.controls.pincode.valid && formStatus" class="ion-text-left error" >
                Enter valid city
              </p>
              <!--p class="text-right frgt">Forget password?</p-->
              <br/>
              <div class="text-right"><button (click)="home()" type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
                >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div><br/><br/>
           
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
