<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="row mt-5 main-tp">
          <div class="col-md-12 col-12">
               <h3>Haigo User Consent Agreement</h3>
               <p>In accordance with HIPPA, you agree to give “Haigo LLC” full consent to conduct healthcare screenings,
                  disclosing personal information to doctors and affiliates, direct debit your payment method for appointments, 
                  receive therapy, and enroll in medical trials. This consent is collected according to guidelines from the fields 
                  of medical ethics, research ethics and HIPPA. BY SELECTING YES, YOU AGREE TO THE TERMS LISTED ABOVE: </p>
          </div>
 
        </div>
        <div class="row">
          <div class="col-md-12 col-12 d-flex justify-content-center" style="z-index:999;">
            <div>
              <button class="btnn"><i class="fa fa-check" aria-hidden="true"></i> YES</button>
            </div>
            <div>
              <button class="btnn"><i class="fa fa-times" aria-hidden="true"></i> NO</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</ion-content>
