<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="img">
          <img  src="../../assets/img/DoctorApplogo.png" alt="">
        </div>
        <h1 class="mb-2 mt-0">Settings</h1>
        <div class="row mt-5 main-tp">
          <div class="col-12 inners pt-3 px-0 mb-4">
           <div class="link-btn"><img src="/assets/img/change-password-lock.png" alt=""> <a href="">Change Password</a></div>
           <div class="link-btn"><img src="/assets/img/privacy-policy.png" alt=""> <a href="">Privacy Policy</a></div>
           <div class="link-btn"><img src="/assets/img/about-us.png" alt=""> <a href="">About Us</a></div>
           <div class="link-btn"><img src="/assets/img/delete-button.png" alt=""> <a href="">Delete Account</a></div>
           <div class="link-btn"><img src="/assets/img/log-put.png" alt=""> <a href="">Log Out</a></div>   <br/>      
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
