
ion-tab-bar, ion-tab-button{
    background-color: #0ab8f5;
    border-radius: 15px 15px 0px 0px;
    --color-selected:#000;
    --color-focused:#000;
    --background-focused:#000;
    --color: #fff;
}
ion-icon{
    font-size: 24px;
  }
   
  