<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <h1 class="mb-0">Change</h1>
        <p class="title">Your Password</p>
        <!--div class="logo text-center">
          <img src="/assets/img/logo.jfif">
        </div-->
        <div class="row mt-5 main-tp">
          <div class="col-12">
            <form action="#">
              <div class="form-group text-left">
                <label>Old Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="------------" id="pwd">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div>
              <div class="form-group text-left">
                <label>Change Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="------------" id="pwd">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div>
              <div class="form-group text-left">
                <label>Confirm Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="------------" id="pwd">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div><br/>
              <div class="text-right"><button type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
                >DONE <img src="/assets/img/continue-arrow.png"></button></div><br /><br/><br/>
           
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
