<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <h1 class="mb-0">Profile Picture</h1>
        <div class="row mt-5 main-tp">
          <div class="col-12">
            <div class="top-content" (click)="selectImage()">
              <img src="/assets/img/profile-pic.png" alt="" *ngIf="imageUpload == '' || imageUpload == null">
              <img src="{{imageUpload}}" alt="" *ngIf="imageUpload != '' && imageUpload != null">

            </div>
            <form [formGroup]="profileName">
              <div class="form-group text-left">
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" formControlName="name" placeholder="Ema Watson" id="email">
                  <i *ngIf="profileName.controls.name.valid" class="fa fa-check" aria-hidden="true"></i>
                </div>                
              </div>
              <br/>
              <br/>
              <div class="text-right"><button type="submit" (click)="profile()" class="form-control text-center signup-btn btn btn-default btn-lg"
                >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div><br/><br/>
           
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
