<ion-content>
  <ul class="nav nav-tabs mt-4" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"><img src="/assets/img/dcotor-icon.png" alt="" width="25"> Doctor List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"><img src="/assets/img/nearby1.png" alt="" width="25"> Nearby Doctor</a>
    </li>
  </ul><!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
      <div class="responsive-map-container">
        <!-- place the iframe code between here... -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.6221882978507!2d-98.48650795000005!3d29.421653200000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c58aa57e6a56f%3A0xf08a9ad66f03e879!2sHenry+B.+Gonzalez+Convention+Center!5e0!3m2!1sen!2sus!4v1393884854786" width="600" height="450" frameborder="0" style="border:0"></iframe>
        <!-- ... and here -->
      </div>

    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">
      <div class="responsive-map-container">
        <!-- place the iframe code between here... -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.6221882978507!2d-98.48650795000005!3d29.421653200000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c58aa57e6a56f%3A0xf08a9ad66f03e879!2sHenry+B.+Gonzalez+Convention+Center!5e0!3m2!1sen!2sus!4v1393884854786" width="600" height="450" frameborder="0" style="border:0"></iframe>
        <!-- ... and here -->
      </div>

    </div>
  </div>

</ion-content>