  
  ion-segment-button {
    --indicator-box-shadow: transparent!important;
    --background: #ccc;
    --color: #fff;
    --background-checked: #0ab8f5;
    --color-checked: white;
    margin-right: 10px;
    margin-left: 10px;
    --indicator-color: transparent!important;
    margin-top: 17px;
  }

  
    #map{
       
        width: 100%;
        height: 100vh;
        top: 0px;
    
      }
    
    .nav-tabs{    
        border-bottom: none;    
        padding: 0 10px;  
        
        .nav-item {
            margin: 0 auto;
            a.nav-link{
                color: #b8b5b5 !important;
                background-color: #f5f5f5 !important;
                border-color: transparent !important;
                width: 150px;
                padding: .5rem .5rem;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
            }
            a.nav-link.active {
                background: #0ab8f5 !important;
                color: #fff !important;
            }
        }
    } 
    .signin-outer {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        position: relative;

        ul.rating {
            display: flex;
            align-items: start;
            padding-left: 0 !important;
            margin-bottom:0;
            li {
                list-style: none;
                img {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
        ::placeholder {
            color: #dfdfdf;
        }
        h1 {
            font-size: 30px;
        }
        .title{
            margin: 0;
            font-size: 20px;
        }
        .inner-sign{
            flex:1;
           }
        .container {
            margin: 0px auto 0;
            padding: 0 15px;
        }
        .inner-txt{
            .sc-ion-label-md-s h3{
                font-size: 16px;
                font-weight: 700;
            }
        }
        .box {
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid #d0d0d0;
            padding: 12px 0 10px;
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
            p {
                font-size: 14px !important;
                margin: 0 !important;
                color: #444444;
                margin-bottom: -5px !important;
            }
            span {
                font-size: 12px !important;
                color: #0ab8f5;
            }
            .status {
                padding-top: 25px;   
                position: relative;   
                max-width: 100px !important;
                width: 100% !important;
                text-align: right;  
                a {
                    background: #0ab8f5;
                    color: #fff;
                    font-size: 9px;
                    padding: 6px 8px;
                    border-radius: 20px;
                    letter-spacing: .5px;
                }
                p {
                    font-size: 11px !important;
                     color: #b9b7b7;
                    margin-bottom: 5px !important;
                }
                img {
                    width: 30px !important;
                    height: 30px !important;
                }
            }
        }
            .search{
                input[type="text"] {
                    border: 2px solid #d1e4ed !important;
                    padding: 10px 25px !important;
                    width: 100%;
                    border-radius: 20px !important;
                }
                .search-icn {
                    color: #3196ca;
                    position: absolute;
                    right: 30px;
                    top: 7px;
                    font-size: 20px;
                }
            }
    
            .inbox{
                border-bottom: 2px solid #a2cdde !important;
                i.fa.fa-check {
                    color: #0ca9ec;
                }
            
            }
        

        @media (max-width:400px){
            label{
                font-size: 16px;
            }
            .title{
                font-size: 16px;
            }
            input{
                font-size: 16px !important;
            }
            h1 {
                font-size: 25px;
            }
            h3 {
                font-size: 16px !important;
            }
            .main-tp {
                margin-top: 30px !important;
            }
        }

    }
    select {
        border: none;
        width: 100%;
        z-index: 99;
        outline: none;
        padding: 6px 0;
        margin-left: 0;
        background: #f4f4f4;
    }

    .inbox {
        border-bottom: 2px solid #a2cdde !important;
    }