<ion-content>
  <ul class="nav nav-tabs mt-4" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"><img src="/assets/img/dcotor-icon.png" alt="" width="25"> Doctor List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"><img src="/assets/img/nearby.png" alt="" width="25"> Nearby Doctor</a>
    </li>
  </ul><!-- Tab panes -->
  <div class="row mt-3">
    <div class="container">
      <div class="col-md-12 col-12">
        <form>
          <div class="form-group text-left">
             <label>Choose Category</label>
             <div class="d-flex justify-content-between align-items-center inbox">
                <select id="name">
                   <option>Cardiology</option>
                   <option>Cardiology</option>
                </select>
             </div>
          </div>
       </form>
      </div>
    </div>
  </div>
  
  <div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">

  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="row">
          <div class="col-12 inner-txt">
            <div class="box">
                <div class=""><img src="/assets/img/profile-pic.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                     <li><img src="/assets/img/star.png" alt=""></li>
                     <li><img src="/assets/img/star.png" alt=""></li>
                     <li><img src="/assets/img/star.png" alt=""></li>
                     <li><img src="/assets/img/star.png" alt=""></li>
                     <li><img src="/assets/img/star2.png" alt=""></li>
                  </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>
            
              <div class="box">
                <div class=""><img src="/assets/img/calling2.png" alt="" ></div>
                <div>
                  <h3>John Morgon</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>

              <div class="box">
                <div class=""><img src="/assets/img/calling3.png" alt="" ></div>
                <div>
                  <h3>Fex Walker</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>

              <div class="box">
                <div class=""><img src="/assets/img/calling4.png" alt="" ></div>
                <div>
                  <h3>Carry Stathom</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>
              
              <div class="box">
                <div class=""><img src="/assets/img/profile-pic.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>
              <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">
 
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="row">
          <div class="col-12 inner-txt mt-3">
            <div class="box">
              <div class=""><img src="/assets/img/calling3.png" alt="" ></div>
              <div>
                <h3>Fex Walker</h3>
                <p>MBBS, OrthoMD</p>
                <ul class="rating">
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star2.png" alt=""></li>
               </ul>
              </div>
              <div class="status"><p>7Years Exp.</p>
                <a (click)="bookAppointment()">Book Appointment</a>
              </div>
            </div>

            <div class="box">
              <div class=""><img src="/assets/img/calling2.png" alt="" ></div>
              <div>
                <h3>John Morgon</h3>
                <p>MBBS, OrthoMD</p>
                <ul class="rating">
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star.png" alt=""></li>
                  <li><img src="/assets/img/star2.png" alt=""></li>
               </ul>
              </div>
              <div class="status"><p>7Years Exp.</p>
                <a (click)="bookAppointment()">Book Appointment</a>
              </div>
            </div>

              <div class="box">
                <div class=""><img src="/assets/img/profile-pic.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>

              <div class="box">
                <div class=""><img src="/assets/img/calling4.png" alt="" ></div>
                <div>
                  <h3>Carry Stathom</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>

              <div class="box">
                <div class=""><img src="/assets/img/profile-pic.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>MBBS, OrthoMD</p>
                  <ul class="rating">
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star.png" alt=""></li>
                    <li><img src="/assets/img/star2.png" alt=""></li>
                 </ul>
                </div>
                <div class="status"><p>7Years Exp.</p>
                  <a (click)="bookAppointment()">Book Appointment</a>
                </div>
              </div>
              <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>

</ion-content>