
<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
      <div class="row main-tp pt-2">
        <div class="col-md-12 col-12 top-content d-flex justify-content-right align-items-center">
          <div class="prfl"><img src="/assets/img/doctor-detail.png" alt=""></div>
          <div class="boxx">           
            <div class="mainn">
              <h2>Dr. John</h2>
              <span>Physiotherapist</span>
          </div>
          <div class="setting"><a href="#">Book Appointment</a></div>
        </div>
        </div>
          <div class="col-12 mt-4">
            <form action="#">  
              <div class="form-group text-left">
                <label>Email Address</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="email" class="form-control" placeholder="Johntherapist@gmail.com" id="email">
                </div>    
              </div>   
              <div class="form-group text-left">
                <label>Contact Number</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="+91 9876543210" id="email">
                </div>    
              </div>            
               <div class="form-group text-left">
                <label>Location</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="#369, Garden Road, New York" id="loc">
                </div>
              </div>
              <div class="form-group text-left">
                <label>City</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="New York" id="city">                 
                </div>
              </div>
              <div class="form-group text-left">
                <label>Description</label>
                  <textarea class="form-control" rows="4" id="comment" placeholder="Dr.John is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the"></textarea>
              </div>
              <!--div class="text-right end-img">
                <a href="#"><img src="/assets/img/edit-icon.png" alt="" width="45"></a>
              </div-->    
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

