<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="row">
          <div class="col-12 px-0 main-content">
            <h1 class="mb-4">Appointment Lists</h1>
            <div class="box">
              <div class="img-out"><img src="/assets/img/profile-pic.png" alt=""></div>
              <div>
                <ul class="mail-list">
                  <li>Name : <span>Lara Datson</span></li>
                  <li>Age : <span>26 Years</span></li>
                  <li>Gender : <span>Female</span></li>
                  <li>Appointment : <span>26th May, Wed
                      10:00 am</span></li>
                </ul>
              </div>
              <div class="status">
                <a href="#">Accept <img src="/assets/img/accept-tick.png" alt=""></a>
                <a href="#" class="red">Decline <img src="/assets/img/decline-cross.png" alt=""></a>
                <div class="d-flex pt-1 justify-content-end">
                  <img src="/assets/img/delete.png" alt="">
                  <img src="/assets/img/view.png" alt="">
                </div>
              </div>
            </div>

            <div class="box">
              <div class="img-out"><img src="/assets/img/appoint-2.png" alt=""></div>
              <div>
                <ul class="mail-list">
                  <li>Name : <span>Elizabeth</span></li>
                  <li>Age : <span>65 Years</span></li>
                  <li>Gender : <span>Female</span></li>
                  <li>Appointment : <span>26th May, Wed
                      10:00 am</span></li>
                </ul>
              </div>
              <div class="status">
                <a href="#">Accept <img src="/assets/img/accept-tick.png" alt=""></a>
                <a href="#" class="red">Decline <img src="/assets/img/decline-cross.png" alt=""></a>
                <div class="d-flex pt-1 justify-content-end">
                  <img src="/assets/img/delete.png" alt="">
                  <img src="/assets/img/view.png" alt="">
                </div>
              </div>
            </div>

            <div class="box">
              <div class="img-out"><img src="/assets/img/appoint-3.png" alt=""></div>
              <div>
                <ul class="mail-list">
                  <li>Name : <span>Charlie Mohamad</span></li>
                  <li>Age : <span>35 Years</span></li>
                  <li>Gender : <span>Female</span></li>
                  <li>Appointment : <span>26th May, Wed
                      10:00 am</span></li>
                </ul>
              </div>
              <div class="status">
                <a href="#">Accept <img src="/assets/img/accept-tick.png" alt=""></a>
                <a href="#" class="red">Decline <img src="/assets/img/decline-cross.png" alt=""></a>
                <div class="d-flex pt-1 justify-content-end">
                  <img src="/assets/img/delete.png" alt="">
                  <img src="/assets/img/view.png" alt="">
                </div>
              </div>
            </div>

            <div class="box">
              <div class="img-out"><img src="/assets/img/profile-pic.png" alt=""></div>
              <div>
                <ul class="mail-list">
                  <li>Name : <span>Lara Datson</span></li>
                  <li>Age : <span>26 Years</span></li>
                  <li>Gender : <span>Female</span></li>
                  <li>Appointment : <span>26th May, Wed
                      10:00 am</span></li>
                </ul>
              </div>
              <div class="status">
                <a href="#">Accept <img src="/assets/img/accept-tick.png" alt=""></a>
                <a href="#" class="red">Decline <img src="/assets/img/decline-cross.png" alt=""></a>
                <div class="d-flex pt-1 justify-content-end">
                  <img src="/assets/img/delete.png" alt="">
                  <img src="/assets/img/view.png" alt="">
                </div>
              </div>
            </div>

            <div class="box">
              <div class="img-out"><img src="/assets/img/profile-pic.png" alt=""></div>
              <div>
                <ul class="mail-list">
                  <li>Name : <span>Lara Datson</span></li>
                  <li>Age : <span>26 Years</span></li>
                  <li>Gender : <span>Female</span></li>
                  <li>Appointment : <span>26th May, Wed
                      10:00 am</span></li>
                </ul>
              </div>
              <div class="status">
                <a href="#">Accept <img src="/assets/img/accept-tick.png" alt=""></a>
                <a href="#" class="red">Decline <img src="/assets/img/decline-cross.png" alt=""></a>
                <div class="d-flex pt-1 justify-content-end">
                  <img src="/assets/img/delete.png" alt="">
                  <img src="/assets/img/view.png" alt="">
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
