<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="row main-tp">
          <div class="col-12">
            <h1>Get An Online Appointment With A Doctor</h1>
            <p>We’re available 24 hours a day</p>
            <img src="/assets/img/first-page.png" alt=""><br><br>
            <div class="pb-4"><button type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
              >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

