<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="img">
          <img  src="../../assets/img/DoctorApplogo.png" alt="">
        </div>
        <h1 class="mb-0">Welcome</h1>
        <p class="title">SignUp Here</p>
        <!--div class="logo text-center">
          <img src="/assets/img/logo.jfif">
        </div-->
        <div class="row mt-5 main-tp">
          <div class="col-12">
            <form [formGroup]="signupForm">
              <div class="form-group text-left">
                <label>Enter Mobile Number</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="tel" class="form-control" formControlName="mobile" placeholder="Mobile number" id="email">
                  <i *ngIf="signupForm.controls.mobile.valid" class="fa fa-check" aria-hidden="true"></i>
                </div>               
              </div>
              <p  *ngIf="!signupForm.controls.mobile.valid && formStatus" class="ion-text-left error" >
                Enter valid mobile number
              </p>
              <div class="form-group text-left">
                <label>Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="password" formControlName="password" id="pwd">
                  <i *ngIf="signupForm.controls.password.valid" class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div>
              <p  *ngIf="!signupForm.controls.password.valid && formStatus" class="ion-text-left error" >
                Enter valid password
              </p>
              <div class="form-group text-left">
                <label>Confirm Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="confirmpassword" formControlName="confirmpassword" id="pwd">
                  <i *ngIf="signupForm.controls.confirmpassword.valid" class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div>
              <p  *ngIf="!signupForm.controls.confirmpassword.valid && formStatus" class="ion-text-left error" >
                Enter valid confirm password
              </p>
              <div class="form-group text-left" style="border-bottom: 2px solid #a2cdde !important;">
                <ion-item>
                  <ion-label  >Select Role</ion-label>
                <!-- <div class="d-flex justify-content-between align-items-center inbox"> -->

                  <ion-select interface="action-sheet" formControlName="role">
                    <ion-select-option value="doctor">Doctor</ion-select-option>
                    <ion-select-option value="client">Client</ion-select-option>
                  </ion-select>
                <!-- </div> -->
                </ion-item>              
              </div>
            <!-- </ion-item> -->
              <!--p class="text-right frgt">Forget password?</p-->
              <br/>
              <div class="text-right"><button (click)="opt()" type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
                >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div><br/><br/>
           
            </form><br />
          </div>
        </div>
      </div>
    </div>
    <p class="text-center sig-up">If you don't have an account? <span (click)="login()">SIGN IN</span> </p>
  </div>
</ion-content>
