
    .signin-outer {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        position: relative;
        ::placeholder {
            color: #dfdfdf;
        }
        h1 {
            font-size: 30px;
        }
        .title{
            margin: 0;
            font-size: 20px;
        }
        .inner-sign{
            flex:1;
           }
        .container {
            margin: 0px auto 0;
            padding: 0 15px;
        }
        .inner-txt{
            .sc-ion-label-md-s h3{
                font-size: 16px;
                font-weight: 700;
            }
        }
        .box {
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid #d0d0d0;
            padding: 12px 0;
            .numbers {
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    background: #0ab8f5;
                    width: 20px;
                    height: 20px;
                    top: 0px;
                    right: 0px;
                    border-radius: 50%;
                }
                span {
                    position: absolute;
                    content: "";
                    top: 1px;
                    right: 7px;
                    color: #fff !important;
                    z-index: 9;
                    text-align: center;
                }
            }
            
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
            p {
                font-size: 12px !important;
                margin: 0 !important;
                color: #b1b2b2;
                margin-bottom: -5px !important;
            }
            span {
                font-size: 12px !important;
                color: #0ab8f5;
            }
            .status {
                padding-top: 15px;   
                position: relative;     
                span:after {
                    position: absolute;
                    content: "";
                    background: #37c5f7;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    left: -12px;
                    top: 24px;
                }
            }
            .active span {
                color: #00e093 !important;
                &:after {
                    background: #00e093;
                }
            }
        }
            .search{
                input[type="text"] {
                    border: 2px solid #d1e4ed !important;
                    padding: 10px 25px !important;
                    width: 100%;
                    border-radius: 20px !important;
                }
                .search-icn {
                    color: #3196ca;
                    position: absolute;
                    right: 30px;
                    top: 7px;
                    font-size: 20px;
                }
            }
    
            .inbox{
                border-bottom: 2px solid #a2cdde !important;
                i.fa.fa-check {
                    color: #0ca9ec;
                }
            }
        

        @media (max-width:400px){
            label{
                font-size: 16px;
            }
            .title{
                font-size: 16px;
            }
            input{
                font-size: 16px !important;
            }
            h1 {
                font-size: 25px;
            }
            .main-tp {
                margin-top: 30px !important;
            }
        }
    }

