
<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <h1 class="mb-0">Messages</h1>
        <p class="title">Chat With doctors</p> <br/>
        <div class="row">
          <div class="col-sm-12 col-12">
            <form class="search d-flex">
              <input type="text" placeholder="Search Doctor" name="search">
              <div class="search-icn"><i class="fa fa-search"></i></div>
            </form>
          </div>
          <div class="col-12 inner-txt mt-3">
              <div class="box">
                <div class="numbers"><img src="/assets/img/profile-pic.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>You Need Urgent Chekup...</p>
                  <span>15 min ago</span>
                </div>
                <div class="status"><span>Offline</span></div>
              </div>
            
              <div class="box">
                <div class="numbers"><span>2</span><img src="/assets/img/calling2.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>You Need Urgent Chekup...</p>
                  <span>15 min ago</span>
                </div>
                <div class="status active"><span>Online</span></div>
              </div>

              <div class="box">
                <div class="numbers"><img src="/assets/img/calling3.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>You Need Urgent Chekup...</p>
                  <span>15 min ago</span>
                </div>
                <div class="status"><span>Offline</span></div>
              </div>

              <div class="box">
                <div class="numbers"><img src="/assets/img/calling4.png" alt="" ></div>
                <div>
                  <h3>Kelly Walker</h3>
                  <p>You Need Urgent Chekup...</p>
                  <span>15 min ago</span>
                </div>
                <div class="status"><span>Offline</span></div>
              </div><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
