
    .signin-outer {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
        position: relative;
       &::before {
            position: absolute;
            content: "";
            // background: url(/assets/img/topright.png) no-repeat right / contain;
            top: 0px;
            right: 0;
            width: 50%;
            height: 24%;
            @media (max-width:320px){
                top: -20px;
            }
        }
        &::after {
            position: absolute;
            content: "";
            // background: url(/assets/img/bottomleft.png) no-repeat left / contain;
            bottom: 0;
            left:0;
            width: 50%;
            height: 20%;
        }
        .main-content {
            z-index: 9;
            margin-bottom: 30px;
        }
        ul.rating {
            display: flex;
            align-items: start;
            padding-left: 0 !important;
            margin-bottom:0;
            li {
                list-style: none;
                img {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
        h1{
            margin-top: 0;
            font-size: 30px;
            text-align: center;
        }
        .inner-sign{
            flex:1;
           }
        .container {
            margin: 30px auto 0;
            padding: 0 30px;
        }
        .box {
            display: flex;
            justify-content: space-between;
            align-items: start;
            border: 1px solid #e2e2e2;
            margin-bottom: 15px;
            border-radius: 20px;
            padding: 10px;
            background: #fff;
            box-shadow: 0px 2px 6px #0000003d;
            .img-out {
            width: 80px;
        }
            ul.mail-list {
                padding-left: 0;
                text-align: left;
                margin-bottom: 0;
                li {
                    list-style: none;
                    font-size: 15px;
                    color: #b1b1b1;
                }
            }
            .img-out{
                width: 80px;
                margin-top: 20px;
                img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid #06adf1;
                    outline: none;
                }
            }
         
            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
            p {
                font-size: 14px !important;
                margin: 0 !important;
                color: #444444;
                margin-bottom: -5px !important;
            }
            span {
                font-size: 15px !important;
                color: #737373;
            }
            .status {
                padding-top: 5px;
                position: relative;
                max-width: 80px !important;
                text-align: right;
                display: flex;
                justify-content: right;
                flex-direction: column; 
                a.red {
                    background: #d9534f !important;
                }
                a {
                    background: #0ab8f5;
                    color: #fff;
                    font-size: 9px;
                    width: 60px;
                    padding: 4px 5px;
                    margin-bottom: 6px;
                    border-radius: 20px;
                    letter-spacing: .5px;
                }
                p {
                    font-size: 11px !important;
                     color: #b9b7b7;
                    margin-bottom: 5px !important;
                }
            }
        }
        @media (max-width:400px){
            label{
                font-size: 16px;
            }
            .title{
                font-size: 16px;
            }
            input{
                font-size: 16px !important;
            }
            button.btn {
                font-size: 16px;
                letter-spacing: 1px;
                width: 152px;
                padding: 0 5px !important;
            }
            .img-out{
                width: 100px !important;
                img {
                    width: 60px !important;
                    height: 60px !important;
                }
            }
            .box{
                span {
                    font-size: 13px !important;
                }
            }
            .mail-list{
                li{
                    font-size: 13px !important;
                }
            }
            .main-tp {
                margin-top: 30px !important;
            }
        }
    }

