
<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
      <div class="row main-tp pt-2">
        <div class="col-md-12 col-12 top-content d-flex justify-content-right align-items-center">
          <div><img src="/assets/img/profile-pic.png" alt=""></div>
          <div class="boxx">           
              <h2>Emma Watson</h2>
              <span>Female</span>
          </div>
        </div>
          <div class="col-12 mt-4">
            <form action="#">   
              <div class="form-group text-left">
                <label>Email Address</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="email" class="form-control" placeholder="ema@gmail.com" id="email">
                </div>    
              </div>  
              <div class="form-group text-left">
                <label>Contact Number</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="+91 9876543210" id="email">
                </div>    
              </div>            
               <div class="form-group text-left">
                <label>Location</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="#369, Garden Road, New York" id="loc">
                </div>
              </div>
              <div class="form-group text-left">
                <label>City</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="New York" id="city">                 
                </div>
              </div>
              <div class="form-group text-left">
                <label>Zip Code</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="text" class="form-control" placeholder="08654" id="pin"> 
                </div>
              </div>
              <br/>
              <div class="text-right">
                <a href="#"><img src="/assets/img/edit-icon.png" alt=""></a>
              </div><br/><br/>           
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

