
<ion-content>
  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
      <div class="row main-tp pt-2">
        <div class="col-md-12 col-12 top-content d-flex justify-content-right align-items-center" >
          <div *ngIf="userData?.profile_image ===''" (click)="selectImage()"><img src="/assets/img/profile-pic.png" alt=""></div>
          <div *ngIf="userData?.profile_image!=''" (click)="selectImage()"><img [src]="image" onerror="this.src='/assets/img/profile-pic.png';" alt=""></div>

          <div class="boxx">           
              <h2>{{user?.name}}</h2>
              <span>{{user?.gender}}</span>
              <div style="    position: absolute;
              z-index: 999;
              width: 100%;
              right: -90%;
              bottom: -4px;" (click)="openSetting()"><img style="height: 40px; width: 40px;" src="assets/img/setting.png" alt=""></div>

            </div>
        </div>
          <div class="col-12 mt-4">
            <form [formGroup]="profileForm">   
              <div class="form-group text-left">
                <label>Email Address</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <ion-input type="email" class="form-control" [readonly]="readonly" formControlName="email" placeholder="ema@gmail.com" id="email"></ion-input>
                </div>    
              </div>  
              <div class="form-group text-left">
                <label>Contact Number</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <ion-input type="text" class="form-control" [readonly]="readonly" formControlName="mobile" placeholder="+91 9876543210" id="email"></ion-input>
                </div>    
              </div>            
              <div class="form-group text-left" style="border: none;">
                <label>Location</label>
                <div class="d-flex justify-content-between align-items-center inbox" >
                  <ion-searchbar
                  mode="ios"
                  lines="none"
                  style="border: none !important;"
                  class="form-control ion-no-padding"
                  placeholder="Location"
                  formControlName="location"
                  [showCancelButton]="false"
                  (ionInput)="updateSearch()"
                  (ionCancel)="dismiss()"
debounce="500"                >
                </ion-searchbar>
                  <!-- <input type="text" class="form-control" formControlName="location" placeholder="Enter location" id="loc"> -->
                </div>
                
              </div>
              <p  *ngIf="!profileForm.controls.location.valid && formStatus" class="ion-text-left error" >
                Enter valid location
              </p>
              <div *ngIf="autocompleteItems?.length>0" class="search-content">
                <ion-label class="label-select">Select Address</ion-label>
                <ion-item
                  *ngFor="let item of autocompleteItems"
                  tappable
                  (click)="chooseItem(item)"
                >
                  {{ item }}
                </ion-item>
              </div>
              <div class="form-group text-left">
                <label>City</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <ion-input type="text" class="form-control" [readonly]="readonly" formControlName="city"  placeholder="New York" id="city"></ion-input>        
                </div>
              </div>
              <div class="form-group text-left">
                <label>Zip Code</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <ion-input type="text" class="form-control" [readonly]="readonly" formControlName="pin_code" placeholder="08654" id="pin"></ion-input>
                </div>
              </div>
              <br/>
              <div  *ngIf="!readonly"><button (click)="update()" type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
                >Submit</button></div>
              
              <div *ngIf="readonly" class="text-right" style="position: absolute; right: 0px;" (click)="editProfile()">
                <a><img src="/assets/img/edit-icon.png" alt=""></a>
              </div><br/><br/>           
            </form><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

