.main-screenn {
    background: url(/assets/img/video-call-bg.jpg) no-repeat top center / cover;
    height: 100%;
    position: relative;
}
.buttons-bewl {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
}
.buttons-bewl > div {
    padding: 0 15px;
}
.top-img {
    background: url(/assets/img/patient-top.jpg) no-repeat right / cover;
    min-height: 180px;
    width: 130px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 25px;
    border: 1px solid #000;
}