
<ion-content>
  <div class="main-screenn">
    <div class="conatiner">
      <div class="row buttons-bewl align-items-center justify-content-center">
          <div>
            <img src="/assets/img/end-call.png" alt="" width="60px">
         </div>
         <div>
          <img src="/assets/img/speaker.png" alt="" width="60px">
        </div>
      </div>
      <div class="row top-img">
         <div class="col-md-12">           
         </div>
      </div>
    </div>
  </div>
</ion-content>
