<ion-content>


  <div class="signin-outer">
    <div class="inner-sign">
      <div class="container">
        <div class="img">
          <img  src="../../assets/img/DoctorApplogo.png" alt="">
        </div>
        <h1 class="mb-0">Welcome</h1>
        <p class="title">SignIn Here</p>
        <!--div class="logo text-center">
          <img src="/assets/img/logo.jfif">
        </div-->
        <div class="row mt-5 main-tp">
          <div class="col-12">
            <form action="#">
              <div class="form-group text-left">
                <label>Enter Mobile Number</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="email" class="form-control" placeholder="+91 9876543210" id="email">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>                
              </div>
              <div class="form-group text-left">
                <label>Password</label>
                <div class="d-flex justify-content-between align-items-center inbox">
                  <input type="password" class="form-control" placeholder="Pass@123" id="pwd">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
              </div>
              <p class="text-right frgt" (click)="forgetPassword()">Forget password?</p>
           
              <div class="text-right"><button (click)="login()" type="submit" class="form-control text-center signup-btn btn btn-default btn-lg"
                >CONTINUE <img src="/assets/img/continue-arrow.png"></button></div><br /><br />
           
            </form><br />
          </div>
        </div>
      </div>
    </div>
    <p class="text-center sig-up">If you don't have an account? <span (click)="signup()">SIGN UP</span></p>
  </div>
</ion-content>
